<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <h1>Sign In Page | TodoApp</h1>
    <form action="/user/sign-in-session" method="post">
        <input type="email" name="email" id="email" placeholder="Email *">
        <input type="password" name="password" id="password" placeholder="Password *">
        <button type="submit">Login Now</button>
    </form>
</body>
</html>