<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <h1>Sign Up Page | TodoApp</h1>

    <form action="/user/sign-up-session" method="post">
        <input type="text" placeholder="Email *" id="email" name="email" required>
        <input type="password" placeholder="Password *" name="password" id="password" required>
        <input type="password" placeholder="Confirm Password *" name="confirm_password" id="confirm_password" required>
        <button type="submit">Sign Up Now</button>

    </form>
</body>
</html>