<%- include("./partials/header"); -%> 

<main>
    <h1 class="text-center">Sign Up | TodoApp</h1>
    <div class="input-container">
        <form action="/user/sign-up-session" method="post" class="input-form">
            <input class="input-box" type="text" placeholder="Email *" id="email" name="email" required><br>
            <input class="input-box" type="password" placeholder="Password *" name="password" id="password" required><br>
            <input class="input-box" type="password" placeholder="Confirm Password *" name="confirm_password" id="confirm_password" required><br>
            <div class="button-container">
                <button type="submit" class="text-center paynow">Sign Up Now</button>
            </div>
        </form>
    </div>
</main>

<%- include("./partials/footer"); -%> 